body{
	font-family: 'Quicksand', sans-serif;
	box-sizing: border-box;
	background-color: #f7f7f7;
}
.main{
	color: #dddddd;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
form{
	box-sizing: border-box;
	width: 340px;
	height: 350px;
	background-color: #ffffff;
	border-radius: 7px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	padding: 30px 25px;
}
input{
	box-sizing: border-box;
	background-color: #f0f0f0;
	color: #b7b7b7;
	padding:10px;
	height: 34px;
	font-size: 0.625em;
	border:none;
	border-radius: 5px;
	font-family: 'Quicksand', sans-serif;
	width: inherit;
}
input[placeholder]{
	color: #b7b7b7;
	font-weight: 600;
	font-size: 12px;
}
label, 
p{
	font-size: 10px;
	margin: 0;
}
a, 
span{
	color: #9b9b9b;
	text-decoration: none;
}
h2{
	font-weight: 400;
	margin-bottom: 10px;
}
.two, 
.users, 
.email, 
.passw {
	margin-bottom: 13px;
}
.two 
div{
	width: 135px;
	box-sizing: border-box;
	display: inline-block;
}
.users, 
.email, 
.passw {
	width: 285px;
}
.two_name{
	margin-left: 13px;
}

button{
	border:none;
	width: 95px;
	height: 33px;
	color: #ffffff;
	background-color: #fea15d;
	text-align: center;
	border-radius: 3px;
	margin: 10px 0;
	font-family: 'Quicksand', sans-serif;
}
button:hover{
	background-color: #f14100;
	transition: 3s;
}
.users,
.passw{
	position: relative;
}
.users::after {
	content: '';
	position: absolute;
	background-image:url(https://raw.githubusercontent.com/YuliPolishchuk/YuliPolishchuk.github.io/master/Sign%20form/user.png);
	width: 24px;
	height: 26px;
	left: 255px;
	top: 4px;
}
.passw::after{
	content: '';
	position: absolute;
	background-image:url(https://raw.githubusercontent.com/YuliPolishchuk/YuliPolishchuk.github.io/master/Sign%20form/pass.png);
	width: 15px;
	height: 20px;
	left: 260px;
	top:8px;
}
.ower p{
	display: inline-block;
	white-space: nowrap; 
	width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
} 
.ower a {
	color: #dddddd;
}
.footer{
	text-align: center;
}
.check__label {
    position: relative;
    padding-left: 20px;
    
}
.check_agree{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}
.box {
    position: absolute;
    top: 0;
    left: 0;
    height: 11px;
    width: 11px;
    background-color: #f0f0f0;
    background-image: url(https://raw.githubusercontent.com/YuliPolishchuk/YuliPolishchuk.github.io/master/Sign%20form/check1.png);
}
.check_agree:checked ~ .box {
    background-image: url(none);
    background-color: #f0f0f0;
}
