body {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}

.section_box {
	width: 580px;
	box-sizing: border-box;
	padding: 65px 0;
	margin: 0 auto;
}

.text_dec {
	font-size: 14px;
	color: #787b80;
	margin:30px 0;
}

.main_header {
	background-image: url(../images/header.png);
	background-size: cover;
	background-repeat: no-repeat;
	color: #ffffff;
	text-align: center;
	box-sizing: border-box;
	text-transform: uppercase;
	margin-bottom: 0;
}

.main_header .section_box {
	padding-bottom: 120px;
}

.menu a {
	text-decoration: none;
	color: #ffffff;
}

.menu li {
	list-style-type: none;
	display: inline-block;
	margin-left: 35px;
} 

.menu ul {
	padding-left: 0;
} 

.logo {
	margin-bottom: 50px;
} 

.menu {
	margin-bottom: 80px;
}

.main_header h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 59px;
	margin: 0 0 40px 0;
}

.line {
	color: #ffffff;
	font-weight: bold;
}

.line:before,
.line:after {
	content: "";
	display: inline-block;
	border-top:2px solid #4e656f;
	width: 100px;
	position: relative;
	bottom: 4px;
}

.line:before {
	right: 35px;
} 

.line:after {
	left: 35px;
}

.main_header_button {
	display: inline-block;
    text-decoration: none;
    color: #ffffff;
    position: relative;
    border: 0;
    cursor: pointer;
	background-color: #50c3af;
	margin-top: 65px;
    font-size: 15px;
    font-weight: 600;
    padding: 14px 45px;
    border-radius: 25px;

}

.main_header_button:hover {
	background-color: #d2d5da;
	transition: 2s;
}

.main_header_button:not(:hover) {
	transition: 2s;
}

.sectionOne,
.sectionThree,
.sectionFive {
	background-color: #eeeeef;
}

.sectionOne .section_box div {
	display: inline-block;
	box-sizing: border-box;
	width: 165px;
	text-align: center;
}

.sectionOne_user {
	background: url("../images/sectionOne_user.png") 50% 5px no-repeat;
	margin-right: 35px;
}

.sectionOne_heart {
	background: url("../images/sectionOne_heart.png") 50% 3px no-repeat;
	margin-right: 35px;
}

.sectionOne_ear {
	background: url("../images/sectionOne_ear.png") 50% 0px no-repeat;
}

.sectionOne h2 {
	color: #000000;
	font-size: 16px;
	padding-top: 50px;
	padding-bottom: 20px;
	text-transform: uppercase;
	position: relative;
}

.sectionOne h2::after {
	content: '';
	box-sizing: border-box;
	display: block;
	height: 2px;
	background-color: #e2e3e4;
	position: absolute;
	width: 135px;
	top: 85px;
	left: 15px;
}

.sectionTwo .section_box div {
	display: inline-block;
	box-sizing: border-box;
	width: 265px;
}

.sectionTwo h2::after {
	content: '';
	box-sizing: border-box;
	display: block;
	height: 2px;
	position: absolute;
	width: 265px;
	left: 0;
	top: 85px;
	background-image: linear-gradient(to right,#e2e3e4, #f3f3f4);
}

.sectionTwo_one {
	margin-right: 45px;
}

.sectionTwo h2 {
	color: #000000;
	font-size: 18px;
	padding-top: 40px;
	padding-bottom: 20px;
	text-transform: uppercase;
	position: relative;
	margin: 0;
}

.section_button_green {
	margin-top:30px;
    font-size: 14px;
    padding: 8px 15px;
    border-radius: 20px;
	text-align: center;
	background-color: #50c3af;
	cursor: pointer;
	text-decoration: none;
	color: #ffffff;
	position: relative;
	box-sizing: border-box;
	display: inline-block;
}

.section_button_green:hover {
	background-color: #d2d5da;
	transition: 2s;
}

.section_button_green:not(:hover) {
	transition: 2s;
}

.sectionThree h2::after {
	content: '';
	box-sizing: border-box;
	width: 580px;
	position: absolute;
	top: 45px;
	left: 0;
	display: block;
	height: 2px;
	background-image: linear-gradient(to right,#e2e3e4, #eeeeef);
}

.sectionThree h2 {
	font-size: 18px;
	padding-bottom: 22px;
	padding-left: 30px;
	position: relative;
	text-transform: uppercase;
	margin: 0;

}

.sectionThree h2:before {
	content: url(../images/sectionThree.png);
	display: block;
	position: absolute;
	left: -5px;
}

.section_button_grey {
	background-color: #d2d5da;
	margin-top:30px;
   	font-size: 14px;
    	padding: 8px 15px;
   	border-radius: 20px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	color: #ffffff;
	position: relative;
	box-sizing: border-box;
	display: inline-block;

}

.section_button_grey:hover {
	background-color: #50c3af;
	transition:2s;
}

.section_button_grey:not(:hover) {
	transition:2s;
}

.sectionFour .section_box div {
	box-sizing: border-box;
	display: inline-block;
	width: 180px;
}

.sectionFour h2::after {
	content: '';
	width: 180px;
	display: block;
	left: 0;
	top: 75px;
	position: absolute;
	box-sizing: border-box;
	height: 2px;
	background-image: linear-gradient(to right,#e9e9ea, #eff0f0);
}

.sectionFour_left {
	margin-right: 15px;
}

.sectionFour h2 {
	font-size: 16px;
	padding-top: 40px;
	padding-bottom: 10px;
	text-transform: uppercase;
	position: relative;
	margin: 0;

}

.sectionFour a {
	text-decoration: none;
	color: #50c3af;
	font-size: 14px;
}

.sectionFour a:hover {
	color: #d2d5da;
	transition: 2s;
}

.sectionFour a:not(:hover) {
	transition: 2s;
}

.sectionFour p {
	margin-bottom: 27px;
}

.sectionFive .section_box div {
	width: 250px;
	display: inline-block;
}

.sectionFive h2 {
	font-size: 18px;
	position: relative;
	padding-left: 35px;
	text-transform: uppercase;
	margin: 0;

}

.sectionFive_send {
	margin-right: 73px;
}

.sectionFive_send h2:before {
	content: url(../images/sectionFive_one.png);
	display: block;
	position: absolute;
	left: 0;
}

.sectionFive_see h2:before {
	content: url(../images/sectionFive_two.png);
	display: block;
	position: absolute;
	left: 0;
}

.sectionFive h2::after {
	content: '';
	position: absolute;
	display: block;
	left: 0;
	top: 35px;
	width: 250px;
	box-sizing: border-box;
	height: 2px;
	background-image: linear-gradient(to right,#e2e3e4, #e7e7e9);
}

.sectionSix .section_box {
	display: flex;
}

.sectionSix .section_box div {
	box-sizing: border-box;
	width: 275px;
	margin-left: 20px;
}

.sectionSix h2 {
	color:#000000;
	font-size: 18px;
	margin-top: 0;
	padding-bottom: 12px;
	text-transform: uppercase;
	position: relative;
}

.sectionSix p {
	padding-bottom: 20px;
	margin: 0;
}

.sectionSix h2::after {
	content: '';
	width: 275px;
	display: block;
	position: absolute;
	left: 0;
	top: 40px;
	box-sizing: border-box;
	height: 2px;
	background-image: linear-gradient(to right,#e9e9ea, #f3f3f4);
}

.sectionSeven {
	background-color: #50c3af;
	text-align: center;
}

.sectionSeven h2 {
	color: #ffffff;
	font-size: 15px;
	position: relative;
	text-transform: uppercase;
	margin: 0;
} 

.sectionSeven h2::after {
	content: '';
	position: absolute;
	top: 35px;
	left: 145px;
	box-sizing: border-box;
	width: 270px;
	height: 2px;
	background-color: #ffffff;
	opacity: 0.2;
}

.sectionSeven_image {
	margin-top: 70px;
	display: flex;	
}

.sectionSeven_marg {
	width: 120px;
	margin-right: 40px;
}

.sectionSeven_star h2:before {
	content: url(../images/elenaSeven_star.png);
	display: block;
	position: absolute;
	left:150px;
}

.sectionSeven_last {
	width: 102px;
}

.Elena {
	font-size: 13px;
}

.section_footer {
	width: 580px;
	box-sizing: border-box;
	padding: 20px 0;
	margin: 0 auto;
}

.section_foote span {
	color: #000000;
} 

.section_footer div {
	box-sizing: border-box;
	display: inline-block;
}

.text_dec_footer {
	font-size: 14px;
	color: #787b80;
	margin-top:20px;
	display: inline-block;
}

.icon i {
	font-size:20px;
	color: #b5b7b9;
	padding-left: 7px;
}

.icon {
	float: right;
	padding-top: 20px;
}

.section_footer a {
	text-decoration: none;
	color: #787b80;
}

.menu a:hover {
	color: #50c3af;
	transition: 2s;
}

.menu a:not(:hover) {
	transition: 2s;
}

.text_dec_footer a:hover {
	color: #50c3af;
	transition: 2s;
}

.text_dec_footer a:not(:hover) {
	transition: 2s;
}
