* {
        box-sizing:border-box;
}

@media screen and (min-width: 1801px) {
        .first.block  .plain,
        .third.block .colored,
        .fourth.block .colored {
            width: 25%;
            display: block;
            float: left;
        }

        .second.block .colored,
        .third.block .colored:first-child,
        .fourth.block .colored:nth-last-child(2) {
            width: 50%;
            float: left;
        }

        .fifth.block .colored {
            width: 20%;
            float: left;
        }

}

@media screen and (max-width: 1800px) and (min-width: 1201px) {
        .first.block  .plain,
        .second.block .colored  {
            width: 50%;
            float: left;
            text-align: center;
        }
        
        .third.block .colored {
            width:50%;
            margin:0 auto;
        }
        .third.block .colored:nth-last-child(2) {
            width: 100%;
        }
        
        .fourth .colored {
                float: left;
        }

        .fourth .colored:nth-child(3),
        .fourth .colored:first-child{
                 width: 35%;
        }

        .fourth .colored:nth-child(2) {
                width: 30%;
        }
        .fifth.block,
        .fourth.block {
            text-align: center;
        }

        .fifth.block .colored {
            width: 33%;
            display: inline-block;
            margin-right:-5px;
        }

}

@media screen and (max-width: 1200px) and (min-width: 961px) {
        .first.block  .plain,
        .second.block .colored,
        .fifth.block .colored {
            width:50%;
            float: left;
        }

        .third.block .colored {
            width: calc(100%/3);
            float: left;
        }

        .fourth.block .colored:nth-child(3n+1) {
            width: 35%;
        }

        .fourth.block {
            text-align: center;
        }

        .fourth.block .colored {
            width: 30%;
            display:inline-block;      
        }

        .fifth.block .colored:nth-last-child(2) {
            width: 100%;
        }
}

@media screen and (max-width: 960px) and (min-width: 768px) {
        .first.block  .plain,
        .second.block  .colored,
        .fourth.block .colored {
            width: 50%;
            margin: 0 auto;
        }
    .fifth.block .colored {
            width: 50%;
            float: left;
        }
        .fourth.block .colored:nth-last-child(2),
        .fifth.block .colored:nth-last-child(2)  {
            width: 100%
        }

}

@media screen and (max-width: 768px) and (min-width: 320px){
        .first.block  .plain, 
        .second.block  .colored {
            width: 50%;
            margin: 0 auto;
    }
}
